.skill {
    width: 100%;
    padding: 25px;

    display: flex;
    gap: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;

    opacity: 0;
    transform: translateX(-5px);

    animation-timing-function: ease;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

.reversed {
    transform: translateX(5px);
}

.icon {
    width: 60px;
    aspect-ratio: 1 / 1;
}

.name {
    font-size: 1.6rem;

    width: 100%;

    display: flex;
    align-items: center;
}

@keyframes animate {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 850px) {
    .skill {
        height: 90px;
    }   
}