.content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.inView {
    opacity: 1;
    transform: translateY(0);
}

#title {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}

.carouselContainer {
    height: 350px;
}

@media (max-width: 700px) {
    .carouselContainer {
        height: 400px;
    }
}