.layer {
    position: absolute;
    inset: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer1 {
    transform: translateZ(100px);
}

.layer2 {
    transform: translateZ(160px);
    pointer-events: none;
}

.layer3 {
    transform: translateZ(220px);
    pointer-events: none;
}

.content {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

@media (max-width: 1200px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}