#skills, #frontend, #backend {
    width: 100%;
    text-align: center;
}

.skillsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 40px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 850px) {
    .skillsGrid {
        grid-template-columns: 1fr;
        gap: 32px;
    }
}

@media (max-width: 480px) {
    .skillsGrid {
        margin-top: 32px;
        gap: 24px;
    }
    
    .group {
        gap: 10px;
    }
}